.login-button {
  display: flex;
  justify-content: end;
  margin: 20px;
}
.login-icon {
  margin-right: 5px;
  height: 20px;
}
.logo {
  text-align: center;
}
.menu-list {
  display: flex;
  list-style-type: none;
}
.menu-list li {
  padding: 10px;
}
.menu-area {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.search-area {
  border-bottom: 1px solid gray;
  position: absolute;
  top: 180px;
  right: 20px;
  padding: 5px;
}
.search-area input {
  border: none;
  font-size: 15px;
  margin-bottom: 5px;
}